.popUpBody {
  background-color: white;
  border: none;
  outline: none;
  width: 25%;
  left: 35%;
  position: absolute;
  top: 10%;
  border-radius: 10px;
  padding: 2rem 1rem;
  max-height: 600px;
}

.titleRow {
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 2rem;
}

.titleText {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
}

.popupContent {
  overflow-y: auto;
  justify-content: flex-start;
  border-radius: 0.75rem;
  padding: 0 1rem;
}
