.popUpBody {
  background-color: white;
  border: none;
  outline: none;
  width: 25%;
  left: 35%;
  position: absolute;
  top: 35%;
  border-radius: 10px;
  padding: 1rem;
}

.titleRow {
  justify-content: space-between;
}

.titleText {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
  color: red;
}

.popUpClose {
  cursor: pointer;
}

.description {
  text-align: center;
  font-size: 20px;
}

.popUpFooter {
  gap: 2rem;
}

.button {
  border: none;
  outline: none;

  &:hover {
    opacity: 0.8;
    border: 1px solid;
  }

  &:active {
    border: none;
    outline: none;
  }
}
